/* Fade in */
.title{
    color: #00be91;
    animation: fadein-content 4s;
    font-size: calc(1vw + 1.5vh);
    margin: 0;
}

.name{
    color: #38d88e;
    animation: fadein-content 4.2s;
    font-size: calc(1.25vw + 1.75vh);
    margin: 0;
}

.job{
    color: #9af089;
    animation: fadein-content 4.4s;
    font-size: calc(1.5vw + 1.5vh);
    margin: 0;
}

.dev{
    color: #f2ff66;
    animation: fadein-content 4.5s,  rainbow 1s infinite;
    font-size: calc(3vw + 2.5vh);
    white-space: nowrap;
    margin: 0;

}


/* animations */
@keyframes fadein-content {
    from {opacity: 0;}
    75% { opacity: 0;}
    to {opacity: 1;}
}


@keyframes rainbow {
    from { color: #f2ff66;}
    15%  { color: #9af089;}
    30%  { color: #38d88e;}
    45%  { color: #00be91;}
    60%  { color: #009a98;}
    75%  { color: #00be91;}
    90%  { color: #38d88e;}
    to   { color: #9af089; }
}