.home-top {
    height: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.home-top.fade{
    animation: fadeout-content 1s;
    opacity: 0;
}

.home-bottom{
    height: 50%;
    position: relative;
}


@keyframes fadeout-content {
    from {opacity: 1;}
    75% { opacity: 1;}
    to {opacity: 0;}
}
